<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{css/styles.css}" />
    <title>Search Results</title>
  </head>
  <body>
    <!-- Search -->
    <br />
    <h2>Search Cardholder</h2>
    <form
      id="search-form"
      th:action="@{/searchByPan}"
      th:object="${creditCardViewModel}"
      method="POST"
    >
      <label for="card-number">Last 4 digits:</label>
      <input
        type="text"
        th:field="*{pan}"
        id="card-number"
        name="card-number"
        pattern="\d{4}"
        required
      /><br /><br />
      <button type="submit">Search</button>
      <button type="button" th:onclick="|window.location.href='@{/}'|">
        Home
      </button>
    </form>

    <!-- Results -->
    <h2>Cardholder Search Results</h2>
    <table id="results">
      <thead>
        <tr>
          <th>Cardholder Name</th>
          <th>Masked PAN</th>
          <th>Created Time</th>
        </tr>
      </thead>
      <tbody id="table-body">

        <!-- Show message if the list is empty -->
        <tr th:if="${#lists.isEmpty(cardList)}">
          <td colspan="3" style="text-align:center; color:gray;">
            No content available
          </td>
        </tr>
        <!-- Search results -->
        <tr th:each="card:${cardList}">
          <td th:text="${card.cardHolderName}"></td>
          <td th:text="${card.maskedPan}"></td>
          <td th:text="${card.createdDate}"></td>
        </tr>
      </tbody>
    </table>
  </body>
  <!-- <script th:src="@{js/search.js}"></script> -->
</html>
